* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    place-content: center;
    height: 100vh;
}
input {
    font-weight: 400;
    margin-bottom: 10px;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 2px;
    background-color: rgba(162, 187, 241, 0.425);
    min-height: 50px;
    max-width: 50px;
    font-size: 30px;
    transition: width 0.2s;
}
.box {
    display: flex;
    justify-content: center;
}
.head {
    display: flex;
    justify-content: center;
}
button {
    font-size: 1.8em;
    padding: 5px 30px;
    margin: 0 10px;
    border: none;
    background: rgba(46, 59, 230, 0.781);
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
